#--------------------------------------------------
# Digikey
#--------------------------------------------------

DIGIKEY_CLIENT_ID=
DIGIKEY_CLIENT_SECRET=
DIGIKEY_SITE=IE
DIGIKEY_LANGUAGE=en
DIGIKEY_CURRENCY=EUR
DIGIKEY_SANDBOX=false


#--------------------------------------------------
# Mouser
#--------------------------------------------------

MOUSER_API_KEY=



#--------------------------------------------------
# FARNELL
#--------------------------------------------------

FARNELL_KEY=

#--------------------------------------------------
# Future Electronics
#--------------------------------------------------

FUTURE_API_KEY=


#--------------------------------------------------
# Arrow
#--------------------------------------------------

ARROW_CLIENT_ID=
ARROW_CLIENT_SECRET=



#--------------------------------------------------
# TME Product API v2
#--------------------------------------------------

TME_TOKEN=
TME_APPLICATION_SECRET=
TME_BASE_URL=https://api.tme.eu
TME_SEARCH_PATH=/products/search
TME_COUNTRY=IE
TME_LANGUAGE=en
TME_TIMEOUT_SECONDS=30
TME_DATA_PATH=/products/data
TME_PARAMETERS_PATH=/products/parameters
TME_CURRENCY=EUR
